@media screen and (max-width: 1120px) {
  .container {
    width: 100%;
  }
}
/* Section 1 */

@media screen and (max-width: 1120px) {
  section.sec1 .container-blur::before {
    transform: scale(0.8);
    bottom: -71%;
  }
}
@media screen and (max-width: 1000px) {
  section.sec1 .container-blur::before {
    transform: scale(0.6) translateX(16%);
  }
}
@media screen and (max-width: 870px) {
  section.sec1 .container-blur::before {
    display: none;
  }
  section.sec1 .container-blur {
    text-align: center;
  }
  section.sec1 .container-blur {
    padding: 2em 0em;
  }
}

@media screen and (max-width: 500px) {
  section.sec1 .container-blur span {
    font-size: 1.5em;
  }
  section.sec1 .container-blur h1 {
    font-size: 4em;
  }
}
/* NAVBAR */
@media screen and (max-width: 870px) {
  section.sec1 .navbar {
    flex-direction: column;
  }
  section.sec1 .navbar .row {
    height: 70px;
  }
  @media screen and (max-width: 500px) {
    section.sec1 .navbar {
      display: none;
    }
  }
}
/* Section 2 */
@media screen and (max-width: 1140px) {
  section.sec2 .container .row-propos {
    flex-direction: column;
  }
  section.sec2 .container .row{
    align-items: center;
    padding: 20px;
  }
  section.sec2 .container .row .propos-titre{
    text-align: center;
  }
  section.sec2 .container .row .propos-experience{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.sec2 .container .row:nth-child(2) .propos-text {
    padding-left: 0px;
}
}
@media screen and (max-width: 700px) {
  section.sec2 .container .row {
    flex-direction: column;
    
  }
  section.sec2 .container .row .propos-text{
    text-align: center;
    margin-top: 25px;
  }
  section.sec2 .container .row-button{
  padding-top: 55px;
  }
}
@media screen and (max-width: 600px) {

  section.sec2 .container .row-button{
    flex-direction: column;
    align-items: center;
  }
  section.sec2 .container .row-button button{
    margin: 10px 10px;
    width: 280px;
    justify-content: center;
  }
}
