* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Gideon Roman", cursive;
}
.container {
  width: 1120px;
  margin: 0 auto;
  position: relative;
}
/* Section 1 */
section.sec1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.sec1 .container {
  height: 100%;
  display: flex;
  align-items: center;
}
section.sec1 .container-blur {
  background-color: #ffffff22;
  padding: 5em;
  backdrop-filter: blur(7px);
  box-sizing: border-box;
  color: white;
  position: relative;
  border-radius: 10px;
  width: 100%;
}

section.sec1 .container-blur::before {
  content: url(../images/person.png);
  position: absolute;
  right: 0;
  bottom: -53%;
}

section.sec1 .container span {
  font-size: 2em;
}
section.sec1 .container span:nth-child(1) {
  font-weight: 300;
}
section.sec1 .container h1 {
  font-size: 6em;
  line-height: 1em;
  margin: 20px 0;
}

/*--NAVBAR--*/

section.sec1 .navbar {
  width: 100%;
  min-height: 100px;
  position: absolute;
  background-color: white;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
}
section.sec1 .navbar .row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
section.sec1 .navbar .navbar-block {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.sec1 .navbar .navbar-block a {
  color: grey;
  font-size: 1.3em;
  font-weight: 400;
}
/* Section 2 */
section.sec2 .container {
  padding: 100px 0;
}
section.sec2 .container .row-propos {
  display: flex;
  flex-direction: row;
}
section.sec2 .container .row {
  display: flex;
  flex-direction: row;
  flex: 50%;
}
section.sec2 .container .row > div {
  flex: 50%;
}

section.sec2 .container .row .propos-titre {
  color: black;
  font-size: 2.3em;
}
section.sec2 .container .row .propos-text {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #585858;
}
section.sec2 .container .row:nth-child(2) .propos-text {
  padding-left: 25px;
}
section.sec2 .container .row .big-square {
  background-color: #f7e8ff;
  width: 280px;
  height: 280px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.sec2 .container .row .mini-square {
  background-color: #edd2fc;
  width: 245px;
  height: 245px;
  border-radius: 15px;
  box-shadow: 0px 3px 10px #dea3ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.sec2 .container .row .mini-square span {
  position: relative;
  top: -20px;
  font-size: 8em;
  color: white;
  font-weight: 600;
  -webkit-text-stroke: 3px #e0a6ff;
  text-shadow: 0px 6px 10px #b05edc;
}
section.sec2 .container .row .mini-square p {
  position: relative;
  top: -20px;
  font-size: 1.2em;
  color: #b05edc;
}
section.sec2 .container .row-button {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

section.sec2 .container .row-button button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  margin: 0 10px;
}
section.sec2 .container .row-button button:nth-child(1) {
  background-color: white;
  border: 2px solid grey;
}
section.sec2 .container .row-button button:nth-child(2) {
  background-color: #e8f0f9;
  border: none;
}
section.sec2 .container .row-button button img {
  margin-right: 15px;
}
/* Section 3 */
section.sec3 .competence-titre {
  position: relative;
  padding-left: 30px;
}
section.sec3 .competence-titre::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 70%,
    rgba(0, 0, 0, 1) 70%
  );
  top: 0;
  left: 0;
}
section.sec3 .competence-titre h3 {
  font-weight: 300;
  font-size: 1.5em;
  color: grey;
}
section.sec3 .competence-titre h1 {
  font-weight: bold;
  font-size: 4em;
  color: black;
}
section.sec3 .competence-card {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.sec3 .competence-card .card {
  height: 255px;
  width: 255px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.25s;
}
section.sec3 .competence-card .card:hover {
  transform: translateY(-25px);
}
section.sec3 .competence-card .card:nth-child(1) {
  background-color: #d9fffc;
}
section.sec3 .competence-card .card:nth-child(1):hover {
  box-shadow: 0px 70px 60px -50px #d9fffc;
}
section.sec3 .competence-card .card:nth-child(2) {
  background-color: #e4ffc7;
}
section.sec3 .competence-card .card:nth-child(2):hover {
  box-shadow: 0px 70px 60px -50px #e4ffc7;
}
section.sec3 .competence-card .card:nth-child(3) {
  background-color: #fff3dd;
}
section.sec3 .competence-card .card:nth-child(3):hover {
  box-shadow: 0px 70px 60px -50px #fff3dd;
}
section.sec3 .competence-card .card:nth-child(4) {
  background-color: #ffe0e0;
}
section.sec3 .competence-card .card:nth-child(4):hover {
  box-shadow: 0px 70px 60px -50px #ffe0e0;
}

section.sec3 .competence-card .icon-competence {
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 33px 60px -40px black;
}
section.sec3 .competence-card .nom-competence span {
  color: black;
  font-size: 1.5em;
  font-weight: 400;
}
